body {
    background-color: rgba(135, 206, 235, 0.6) !important;
}
#forecast-card-container {
    display: flex;
    gap: 10px;
    padding: 15px;
}

.card-header, .icon-holder {
    display: flex;
    justify-content: center;

}

.icon-holder {
    align-items: center;
}

.card-header .date-text {
    margin: 0;
}

.low-high {
    text-align: center;
    margin-bottom: 10px;
}

.detail-value {
    font-weight: bold;
}

.card {
    flex-basis: 20%;
    margin-top: 30px;
    box-shadow:2px 3px 5px #999;
}

.current-temp {
    margin-left: 0;
    margin-right: 5px;
    font-weight: bold;
    color: teal;
    font-size: 3em;
    font-family: Roboto, "sans-serif";
}

.bg-body-tertiary.navbar {
    background-color: teal !important;

}

.navbar-brand, #current-city {
    color: white !important;
}

#current-city {
    font-size: 14px;
}

form {
    width: 90%;
    margin: 20px auto;
}

.search-input {
    width: 80%;
}

.forecast-icon {
    width: 75px;
    height: 75px;
}

#map {
    width: 100%;
    height: 700px;
}



@media (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }

    #forecast-card-container {
        display: block;
    }

}
